.account-setup-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-setup-row {
    width: 100%;
    text-align: center;
}

.account-setup-input-row {
    width: 100%;
}

.account-setup-image-container {
    display: flex;
    justify-content: center;
    height: 256px;
}

.account-setup-profile-photo-container {
    text-align: center;
    margin-bottom: 20px;
}

.account-setup-avatar {
    width: 128px;
    height: 128px;
    margin: auto;
}

.account-setup-button-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.account-setup-edit-button {
    --box-shadow: none;
}

.account-setup-delete-button {
    --box-shadow: none;
}

.account-setup-image {
    width: 128px;
}

.selected {
    background-color: #d1e7ff;
    border-left: 4px solid #007bff;
}

.account-setup-fab-button {
    --box-shadow: none;
}

.account-setup-balance-input {
    width: 50vw;
}