.account-total-balance {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.account-historial-new-transfer-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.account-historial-transfer-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.account-new-transfer-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: white;
}

.account-icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.account-icon-font {
    font-size: 25px;
    color: white;
}

.account-message {
    text-align: center;
    padding: 16px;
}

.account-list {
    padding: 8px;
    border-radius: 10px;
}