.category-col {
    text-align: center;
}

.category-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.category-icon {
    font-size: 25px;
    color: white;
}

.category-fab-button {
    --box-shadow: none;
}