.category-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-segment {
    --background: #F2E1D0;
    border-radius: 10px;
    text-decoration: none;
}

.category-segment-button {
    --ion-segment-button-width: auto;
    min-width: fit-content;
}

.category-list {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.category-message {
    text-align: center;
    padding: 16px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 8px;
    text-align: center;
}

.category-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.category-icon {
    font-size: 25px;
    color: white;
}

.category-fab-button {
    --box-shadow: none;
}