.transfer-message {
    text-align: center;
    padding: 16px;
}

.transfer-list {
    padding: 8px;
    border-radius: 10px;
}

.transfer-item {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: white;
}

.transfer-calendar-fab-button {
    --box-shadow: none;
}

.transfer-fab-button {
    --box-shadow: none;
}