.image-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
}

.image-preview {
    position: relative;
    width: 100px;
    height: 100px;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image-preview .close-icon {
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.add-image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
}

.add-image-button ion-icon {
    font-size: 32px;
    color: #888888;
}


.add-transaction-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}