.edit-transaction-segment {
    --background: #F2E1D0;
    border-radius: 10px;
    text-decoration: none;
}

.edit-transaction-segment-button {
    --ion-segment-button-width: auto;
    min-width: fit-content;
}