.side-menu-profile-welcome-container {
    display: flex;
    flex-direction: row;
}

.side-menu-profile-welcome-label {
    width: 100%;
    align-content: center;
    align-items: center;
}

.side-menu-list {
    padding: 8px;
    border-radius: 10px;
}